* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body{
  background: linear-gradient(135deg, #893daa, rgb(228, 149, 164));
}

.nav{
  height: 12vh;
  z-index: 1000;
  /* position: sticky; */

  top: 0;
  left: 0;
  /* background-color: antiquewhite; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 4px solid violet ;
  border-left: 9px solid violet ;
  border-radius: 10px;
}
.head{
  margin-left: 30px;
  width: 15%;

  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-style: italic;
  font-family: fantasy;
  /* color: #FAD7E2; */
  background: linear-gradient(90deg, #ffffff, #f2bacc, #D68795);
  -webkit-background-clip: text;
  background-clip: text; 
  color: transparent;
  
  
}
.link{
  height: 100%;
  width: 35%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* background-color: aqua; */
  color: azure;
  font-weight: bolder;
  transition: transform 2s ease-in-out;
  
}


.nav-link{
  color: white;
  font-style:normal;
  font-weight:bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  transition: color 0.5s ease, filter 0.6s ease;
}
.nav-link:hover{
  color: rgb(105, 22, 105);
}


.first{
  height: 110vh;
  /* background-color: black; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.mid{
  height: 80%;
  width: 80vw;
  /* background-color: #8E44AD; */
  display: flex;
  flex-direction: column;
  justify-content:start;
  align-items:center;
  gap:10px;

}

.mid1{
  height: 20%;
  width: 100%;
  font-size: 70px;
  /* background-color:gray ; */
  font-weight: 900;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: white;
}

.mid2{
  height: 20%;
  width: 100%;
  font-size: 50px;
  /* background-color:green ; */
  font-weight: 900;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: white;
}

.mid3{
  height: 40%;
  width: 55%;
  /* background-color: aliceblue; */
  flex-direction: column;
  text-align: center;
  color:rgb(196, 193, 193);
  margin-left: 0px;
  /* padding-left: 7%; */
  font-size: 29px;
}

.mid4{
  width: 45%;
  color: beige;
  text-align: center;
  /* background-color: #8E44AD; */
}

.mid5{
  height: 40px;
  width: 150px;
  color: rgb(0, 0, 0);
  font-weight: bolder;
  /* background-color: rgba(142, 68, 200, calc(0.5 + 0.2));  */
  background: linear-gradient(135deg, rgb(182, 182, 249) , violet);
  border: 3.5px solid cornflowerblue;
  border-style:double;
  border-radius: 10px;
  font-size: 17px;
  cursor: pointer;
  transition: transform 1s ease-in-out;
}

.mid5:hover{
  /* border: 4px solid rgb(54, 102, 190); */
  background: black;
  color: white;
  transform: scale(1.1); 
  
}

.footer{
  height: 10vh;
  /* background-color: antiquewhite; */
  border-radius: 10px;
  border-top: 4px solid violet;
  border-right: 9px solid violet;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.rightf{
  height: 70%;
  width: 30%;
  /* background-color: #8E44AD; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 800;
  color: whitesmoke;
}

.leftf{
  height: 70%;
  width: 25%;
  /* background-color: #8E44AD; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: aliceblue;
  font-size: 23px;
}

.expense{
  height: 100vh;
  /* background-color: #D68795; */
}

.in{
  width: 40%;
  height: 8vh;
  border-radius: 10px;
  border: 2px solid black;
  padding-left: 10px;
  padding-right: 10px;


}
.add{
  height: 8vh;
  width: 8%;
  font-weight: bolder;
  border-radius: 10px;
  border: 2px solid black;
}

.big{
  min-height: 20vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: aqua; */

}
.small{
  height: 10vh;
  width: 50%;
  background-color:#8E44AD;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-top: 10px;
  border-radius: 10px;
  font-weight: bold;
  color: white;
  transition: color 0.3s ease, filter 0.3s ease;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;

}
.small:hover{
  border: 2px dotted purple;
  transform: scale(1.05); 

}
.cross{
  height: 30px;
  width: 30px;
}


.expense-form{
  height: 100vh;
  /* background-color: #ffffff; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.lefte{
  height: 50%;
  width: 25%;
  background-color:#dd8cff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}

.form-input{
  height: 40px;
  width: 200px;
  /* background-color:#f2bacc; */
  padding: 10px;
  border-radius: 5px;
}

.form-textarea{
  height: 40px;
  width: 200px;
  padding: 10px;
  border-radius: 5px;
}

.back-button{
  height: 30px;
  width: 120px;
}

.submit-button{
  height: 30px;
  width: 120px;
}

.righte{
  height: 50%;
  width: 40%;
  background-color: #f2bacc;
  border-radius: 6px;
}

.expense-list{
  min-height: 50%;
  width: 25%;
  background-color:#dd8cff;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items:center;
  border-radius: 6px;

}

.c{
  position:relative;
  right: 0%;
}

.expense-item{
  min-height: 35px;
  min-width: 90%;
  background-color: aliceblue;
  font-weight: bold;
  margin: 10px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  padding:10px;
  border-radius: 8px;
  border: 4px solid rgb(255, 117, 255);
}
.form-title{
  color:rgb(82, 81, 81);
  font-size: 25px;
}

.c{
  background-color:antiquewhite;
  border:2px solid #826afb;
}
.submit-button{
  border: 2px solid blueviolet;
  border-radius: 5px;
}

.back-button{
  border: 2px solid rgb(161, 3, 3);
  border-radius: 5px;
}

.btn{
  display: flex;
  justify-content:center;
  gap: 10px;
  align-items: center;
  /* background-color: #893daa; */
  width: 100%;
}

.contactfull{
  height: 100vh;
  display: flex;
  justify-content:center;
  align-items: center;

}

.contact{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background-color: #624ec6; */
}

form{
  max-width: 600px;
  width: 400px;
  height: 400px;

  background: linear-gradient(325deg, #893daa, rgb(228, 149, 164));
  padding: 25px 25px 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  color: #333;
  border: 3px solid violet;
  margin: 25px;
}

form h2{
  font-size: 30px;
  text-align: center;
}

form .input-box{
  margin-top: 20px;
}

.input-box .field{
  width: 90%;
  height: 20px;
  background-color: transparent white;
  border: 2px solid blueviolet;
  outline: none;
  border-radius: 6px;
  padding: 15px;
  font-size: 16px;
  color: #333;
  margin-top: 8px;

}

.input-box .field .mess{
  height: 200px;
  resize: none;
}

form button{
  width: 90%;
  height: 45px;
  background-color: #826afb;
  border: none;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0);
  cursor: pointer;
  font-size: 16px;
  columns: #fff;
  font-weight: 500;
  margin-top: 25px;
  transition: .5s;
}

form button:hover{
  background:#624ec6 ;
}

.contact2{
  max-width: 600px;
  width: 400px;
  height: 400px;
  text-align: center;
  background: linear-gradient(325deg, #893daa, rgb(228, 149, 164));
  padding: 25px 25px 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0);
  color: #333;
  border: 3px solid violet;
  margin: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-items: center;
}

.col{
  color: white;
  font-size: 25px;
}
.coll{
  color:#624ec6;
}

.hamburger {
  display: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  margin-right: 12px;
}


@media (max-width: 780px) {


  





  .hamburger {
    display: block; /* Show hamburger icon */
  }

  .link {
    position: absolute;
    top: 12vh;
    right: 0;
    width: 40%;
    height: 40vh;
    /* background: rgb(106, 105, 105); */
    background-color:#9459ad;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding: 10px 0;
    border: 3px dotted violet;
    display: none; /* Hide menu initially */
    /* transition: transform 3s ease-in-out, opacity 0.3s; */
  }

  .link.open {
    display: flex; /* Show when menu is open */
  }

  .link ul {
    padding: 15px 0;
    margin: 10px;
  }





  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }
  body{
  /* background-image: linear-gradient(135deg, #A9C9FF 0%, #FFBBEC 100%); */
  
  /* background-image: linear-gradient(135deg, #07071c, #3c0fa5); */
  
  margin: 0;
  padding: 0;
  }

  .nav{
    position: fixed;
    width: 100%;
  background: linear-gradient(135deg, #893daa, rgb(228, 149, 164));
    border-left: 6px solid violet;
    border-bottom: 4px solid violet;
    /* background-color: #624ec6; */
  }
  .head{
  font-size: 30px;
  width: 35%;
  margin: 5px;
  font-style: italic;
  font-family: fantasy;
  font-weight: bolder;
  /* background-color:#333; */
  }
  .first{
    height: 90vh;
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
   
  }

  .mid{
    /* background-color: #333; */
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .mid1{
  height: 20%;
    font-size: 40px;
  }
  .mid2{
    height: 15%;
    font-size: 30px;
    /* background-color: #624ec6; */
  }
  .mid3{
    width: 120%;
    height: 25%;
    /* background-color: #333; */
    gap: 3px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .mid4{
    /* background-color: #624ec6; */
    width: 80%;
    
  }
  .footer{
  background: linear-gradient(330deg, #893daa, rgb(228, 149, 164));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10vh;

  }
  .rightf{
    /* background-color: #624ec6; */
    width: 50%;
    font-size: 15px;
  }
  .leftf{
    /* background-color: #624ec6; */
    width: 45%;
  }
  .expense{
    padding-top: 60px;
    /* background-color: #D68795; */
  }
  .in{
    height: 6vh;
    width: 70%;
    margin: 5px;

  }
  .add{
    height: 6vh;
    width: 20%;
    margin: 5px;
  }
  .small{
    height: 8vh;
    width: 105%;
  }


  .expense-form{
    min-height: 150vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #333; */
    padding-top: 10px;
    padding: 10px;
    padding-bottom: 10px;
    gap: 20px;
  }
  .lefte{
    margin-top: 100px;
    height: 40%;
    width: 100%;
  }
  .righte{
    width: 100%;
  }
  .expense-list{
    width: 100%;
    /* background-color: #624ec6; */
  }
  .form-title{
    color:rgb(82, 81, 81);
    font-size: 20px;
  }

  .contactfull{
    height: 140vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0;
    padding: 0;
    /* background-color: #624ec6; */
  }
  .contact{
    /* background-color: yellowgreen; */
    min-height: 60vh;
    width: 110%;
    margin: 0;
  }
  .expense-list{
    min-height: 30%;
  }
  .lefte{
    height: 25%;
  }
  .righte{
    height: 25%;
  }


}